<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neues Projekt erfassen</title>
</head>
<body>
    <h1>Angabe der Projektdaten</h1>
    <form action="../controllers/ProjectController.php" method="post">
        ProjektId   <input type="number" name="ProjectID" /> <br/>
        Projektname <input type="text" name="ProjectName" /> <br/>
        ProjektId   <input type="text" name="ProjectDescription" /> <br/><br/>
        <input type="submit" name="Submit" value="Projekt erfassen" />
    </form>
</body>
</html>