/*Datei layout.css 



*/








/* Style the sidebar - fixed full height */
.sidebar {
    height: 85%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 10;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
  }

  /* Bild Logo*/
.logo {
  position: relative;
    height: 150px;
    width: 1900px;
    display: flex;
    justify-content: right;
}

 /* Bild Logo*/
 .logologin {
  position: relative;
    
    display: flex;
    justify-content: right;
}

  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 100px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* Inhalt für Eingaben*/
  .inhalt {
    width: 650px;
    position: relative;
    top: 50%;
    left: 40%;
  }



/* Ueberschrift für Inhalt*/
.ueberschrift {
  position: static;
  margin-left: 40%;
  height: 60%;
}

/* Design for Buttons*/
.btn-outline-dark {
  position: relative;
  width: 200px;
}




/*Design for Footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: rgb(14, 175, 187);
    color: #f1f1f1;
    text-align: center;
  }